<%- include('partials/header') %>


   <div class="job_section">
          
         <div class="home_left_section">
                   <div class="profile_card">
                         <div class="background_cover"></div>

                       <div class="profile_pic_containers">
                           <img src="https://www.pngmart.com/files/23/Profile-PNG-Photo.png" alt="Profile Picture" class="profile_pic">
                        </div>

                       <div class="profile_content">
                            <p style="font-size:larger"><i class="bi bi-incognito"></i><%= user.username %></p>
                           <p class="bio"><%= user.bio || "No bio added yet." %></p>
                      <div class="follow-info">
                            <span><strong><%= followers || 0 %></strong> Followers</span>
                            <span><strong><%= following || 0 %></strong> Following</span>
                      </div>
                       
                    </div>
                 </div>

                    
               </div>
        
         <div class="user_jobs">

          <div class="user_jobs_containers">
           <div class="user_jobs_containers_top">
                <p>Frontend Development Internship</p>
                <div class="right_side">
                  <i class="bi bi-cursor"></i>
                  <p style="font-size:medium">Work From Home</p>
                </div>  
           </div>
           <div class="jobs_middle_contaniers">
                <button>React.js</button>
                <button>NextJs</button>
                <button>Javascript</button>
                <button>HTML</button>
                <button>CSS</button>
            </div>
            <div class="jobs_bottom_containers">
               <div class="jobs_description">
                 <i class="bi bi-envelope-paper"></i>
               <div>
                 <p class="label">Job Offer</p>
                 <p class="value">₹ 7 LPA – 12 LPA</p>
               </div>
              </div>

               <div class="jobs_description">
                 <i class="bi bi-calendar"></i>
                <div>
                  <p class="label">Start Date</p>
                  <p class="value">Immediate</p>
                </div>
             </div>

              <div class="jobs_description">
               <i class="bi bi-hash"></i>
               <div>
               <p class="label">Openings</p>
                <p class="value">1</p>
             </div>
             </div>

             <div class="jobs_description">
               <i class="bi bi-briefcase"></i>
              <div>
               <p class="label">Experience</p>
               <p class="value">1+ years</p>
              </div>
             </div>

            <div class="jobs_description">
              <i class="bi bi-clipboard-check"></i>
             <div>
              <p class="label">Probation Duration</p>
              <p class="value">6 Months</p>
             </div>
            </div>
           </div>

           <div class="jobs_down_containers">
            <p>400+ applicants</p>
            <p>Posted 7d ago</p>
            <p>High Applicants | Chances of getting reply/selected is lower</p>

           </div>
           <a href="/job/1" target="_blank" class="my-button" style="width:500px;">Apply Now</a>

          </div>





          <div class="user_jobs_containers">
           <div class="user_jobs_containers_top">
                <p>Fullstack Developer Job</p>
                <div class="right_side">
                  <i class="bi bi-cursor"></i>
                  <p style="font-size:medium">On Site</p>
                </div>  
           </div>
           <div class="jobs_middle_contaniers">
                <button>NodeJs</button>
                <button>Python</button>
                <button>PostgreSQL</button>
                <button>API</button>
            </div>
            <div class="jobs_bottom_containers">
               <div class="jobs_description">
                 <i class="bi bi-envelope-paper"></i>
               <div>
                 <p class="label">Job Offer</p>
                 <p class="value">₹ 7 LPA – 13 LPA</p>
               </div>
              </div>

               <div class="jobs_description">
                 <i class="bi bi-calendar"></i>
                <div>
                  <p class="label">Start Date</p>
                  <p class="value">Immediate</p>
                </div>
             </div>

              <div class="jobs_description">
               <i class="bi bi-hash"></i>
               <div>
               <p class="label">Openings</p>
                <p class="value">2</p>
             </div>
             </div>

             <div class="jobs_description">
               <i class="bi bi-briefcase"></i>
              <div>
               <p class="label">Experience</p>
               <p class="value">1.5+ years</p>
              </div>
             </div>

            <div class="jobs_description">
              <i class="bi bi-clipboard-check"></i>
             <div>
              <p class="label">Probation Duration</p>
              <p class="value">4 Months</p>
             </div>
            </div>
           </div>

           <div class="jobs_down_containers">
            <p>300+ applicants</p>
            <p>Posted 3d ago</p>
            <p>High Applicants | Chances of getting reply/selected is lower</p>

           </div>
           
           <a href="/job/2" target="_blank" class="my-button" style="width:500px;">Apply Now</a>

          </div>



          <div class="user_jobs_containers">
           <div class="user_jobs_containers_top">
                <p>Mobile App Developer Job</p>
                <div class="right_side">
                  <i class="bi bi-cursor"></i>
                  <p style="font-size:medium">On Site</p>
                </div>  
           </div>
           <div class="jobs_middle_contaniers">
                <button>React Native</button>
                <button>Javascript</button>
                <button>HTML</button>
                <button>CSS</button>
                <button>NODE JS</button>
            </div>
            <div class="jobs_bottom_containers">
               <div class="jobs_description">
                 <i class="bi bi-envelope-paper"></i>
               <div>
                 <p class="label">Job Offer</p>
                 <p class="value">₹ 10 LPA – 15 LPA</p>
               </div>
              </div>

               <div class="jobs_description">
                 <i class="bi bi-calendar"></i>
                <div>
                  <p class="label">Start Date</p>
                  <p class="value">Immediate</p>
                </div>
             </div>

              <div class="jobs_description">
               <i class="bi bi-hash"></i>
               <div>
               <p class="label">Openings</p>
                <p class="value">5</p>
             </div>
             </div>

             <div class="jobs_description">
               <i class="bi bi-briefcase"></i>
              <div>
               <p class="label">Experience</p>
               <p class="value">2+ years</p>
              </div>
             </div>

            <div class="jobs_description">
              <i class="bi bi-clipboard-check"></i>
             <div>
              <p class="label">Probation Duration</p>
              <p class="value">3 Months</p>
             </div>
            </div>
           </div>

           <div class="jobs_down_containers">
            <p>100+ applicants</p>
            <p>Posted 5d ago</p>
            <p>High Applicants | Chances of getting reply/selected is lower</p>

           </div>
           <a href="/job/3" target="_blank" class="my-button" style="width:500px;">Apply Now</a>
          </div>



           <div class="user_jobs_containers">
           <div class="user_jobs_containers_top">
                <p>Blockchain Developer Job</p>
                <div class="right_side">
                  <i class="bi bi-cursor"></i>
                  <p style="font-size:medium">On Site</p>
                </div>  
           </div>
           <div class="jobs_middle_contaniers">
                <button>React.js</button>
                <button>NextJs</button>
                <button>NodeJs</button>
                <button>Typescript</button>
                <button>Rust</button>
            </div>
            <div class="jobs_bottom_containers">
               <div class="jobs_description">
                 <i class="bi bi-envelope-paper"></i>
               <div>
                 <p class="label">Job Offer</p>
                 <p class="value">₹ 6 LPA – 9 LPA</p>
               </div>
              </div>

               <div class="jobs_description">
                 <i class="bi bi-calendar"></i>
                <div>
                  <p class="label">Start Date</p>
                  <p class="value">Immediate</p>
                </div>
             </div>

              <div class="jobs_description">
               <i class="bi bi-hash"></i>
               <div>
               <p class="label">Openings</p>
                <p class="value">11</p>
             </div>
             </div>

             <div class="jobs_description">
               <i class="bi bi-briefcase"></i>
              <div>
               <p class="label">Experience</p>
               <p class="value">4+ years</p>
              </div>
             </div>

            <div class="jobs_description">
              <i class="bi bi-clipboard-check"></i>
             <div>
              <p class="label">Probation Duration</p>
              <p class="value">5 Months</p>
             </div>
            </div>
           </div>

           <div class="jobs_down_containers">
            <p>50+ applicants</p>
            <p>Posted 10d ago</p>
            <p>High Applicants | Chances of getting reply/selected is lower</p>

           </div>
           <a href="/job/4" target="_blank" class="my-button" style="width:500px;">Apply Now</a>
          </div>





           <div class="user_jobs_containers">
           <div class="user_jobs_containers_top">
                <p>Software Developer Job</p>
                <div class="right_side">
                  <i class="bi bi-cursor"></i>
                  <p style="font-size:medium">On Site</p>
                </div>  
           </div>
           <div class="jobs_middle_contaniers">
                <button>NextJs</button>
                <button>NodeJs</button>
                <button>Python</button>
                <button>Typescript</button>
                <button>API</button>
            </div>
            <div class="jobs_bottom_containers">
               <div class="jobs_description">
                 <i class="bi bi-envelope-paper"></i>
               <div>
                 <p class="label">Job Offer</p>
                 <p class="value">₹ 3 LPA – 9 LPA</p>
               </div>
              </div>

               <div class="jobs_description">
                 <i class="bi bi-calendar"></i>
                <div>
                  <p class="label">Start Date</p>
                  <p class="value">Immediate</p>
                </div>
             </div>

              <div class="jobs_description">
               <i class="bi bi-hash"></i>
               <div>
               <p class="label">Openings</p>
                <p class="value">1</p>
             </div>
             </div>

             <div class="jobs_description">
               <i class="bi bi-briefcase"></i>
              <div>
               <p class="label">Experience</p>
               <p class="value">3+ years</p>
              </div>
             </div>

            <div class="jobs_description">
              <i class="bi bi-clipboard-check"></i>
             <div>
              <p class="label">Probation Duration</p>
              <p class="value">8 Months</p>
             </div>
            </div>
           </div>

           <div class="jobs_down_containers">
            <p>70+ applicants</p>
            <p>Posted 10d ago</p>
            <p>High Applicants | Chances of getting reply/selected is lower</p>

           </div>
           <a href="/job/5" target="_blank" class="my-button" style="width:500px;">Apply Now</a>
          </div>





          <div class="user_jobs_containers">
           <div class="user_jobs_containers_top">
                <p>Backend Developer Job</p>
                <div class="right_side">
                  <i class="bi bi-cursor"></i>
                  <p style="font-size:medium">On Site</p>
                </div>  
           </div>
           <div class="jobs_middle_contaniers">
                <button>Java</button>
                <button>Spring</button>
                <button>SQL</button>
                <button>Spring Boot</button>
                <button>API</button>
            </div>
            <div class="jobs_bottom_containers">
               <div class="jobs_description">
                 <i class="bi bi-envelope-paper"></i>
               <div>
                 <p class="label">Job Offer</p>
                 <p class="value">₹ 4.5 LPA – 12 LPA</p>
               </div>
              </div>

               <div class="jobs_description">
                 <i class="bi bi-calendar"></i>
                <div>
                  <p class="label">Start Date</p>
                  <p class="value">Immediate</p>
                </div>
             </div>

              <div class="jobs_description">
               <i class="bi bi-hash"></i>
               <div>
               <p class="label">Openings</p>
                <p class="value">8</p>
             </div>
             </div>

             <div class="jobs_description">
               <i class="bi bi-briefcase"></i>
              <div>
               <p class="label">Experience</p>
               <p class="value">5+ years</p>
              </div>
             </div>

            <div class="jobs_description">
              <i class="bi bi-clipboard-check"></i>
             <div>
              <p class="label">Probation Duration</p>
              <p class="value">6 Months</p>
             </div>
            </div>
           </div>

           <div class="jobs_down_containers">
            <p>200+ applicants</p>
            <p>Posted 1d ago</p>
            <p>High Applicants | Chances of getting reply/selected is lower</p>

           </div>
           <a href="/job/6" target="_blank" class="my-button" style="width:500px;">Apply Now</a>
          </div>



         </div>

   </div>










<%- include('partials/footer') %>